apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-rebom-backend
  namespace: {{ .Release.Namespace }}
  labels:
    name: rebom-backend
    app: rebom
    {{- include "rearm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rebom.backend.replicaCount }}
  selector:
    matchLabels:
      app: rebom
      name: rebom-backend
      {{- include "rearm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        name: rebom-backend
        app: rebom
        {{- include "rearm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: rebom-backend-container
        image: {{ .Values.image.rebomBackend }}
        env:
        - name: POSTGRES_HOST
          value: {{ if .Values.use_external_postgres }}{{ .Values.rebom_postgres_host }}{{ else }}{{ .Release.Name }}-rebom-postgres{{ end }}
        - name: POSTGRES_DATABASE
          value: {{ .Values.rebom_postgres_database }}
        - name: POSTGRES_USER
          value: {{ .Values.rebom_postgres_username }}
        - name: POSTGRES_PORT
          value: {{ .Values.rebom_postgres_port | quote }}
        - name: POSTGRES_SSL
          value: "{{ .Values.rebom_postgres_ssl }}"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-rebom-pgpassword
              key: password
        - name: OCI_STORAGE_ENABLED
          value: {{ .Values.rebom.backend.oci.enabled | quote }}
        - name: OCI_ARTIFACT_SERVICE_HOST
          value: {{ .Values.rebom.backend.oci.serviceHost }}
        - name: OCIARTIFACTS_REGISTRY_NAMESPACE
          value: {{ .Values.rebom.backend.oci.registryNamespace }}
        {{- if .Values.rebom.backend.bearUri }}
        - name: BEAR_URI
          value: {{ .Values.rebom.backend.bearUri }}
        {{- end }}
        {{- if .Values.rebom.backend.bearSkipPattern }}
        - name: BEAR_SKIP_PATTERN
          value: {{ .Values.rebom.backend.bearSkipPattern | quote }}
        {{- end }}
        {{- if .Values.rebom.backend.bearApiKeySecretName }}
        - name: BEAR_API_KEY
          valueFrom:
            secretKeyRef:
              name: {{ .Values.rebom.backend.bearApiKeySecretName }}
              key: BEAR_API_KEY
        {{- end }}
        ports:
        - containerPort: 4000
      initContainers:
      - name: rebom-backend-init
        image: {{ .Values.image.rebomBackend }}
        command: ["cp", "-r", "/app/migrations/.", "/flyway/sql"]
        volumeMounts:
        - mountPath: /flyway/sql
          name: migrations-sql
      - name: rebom-backend-migrations
        image: {{ .Values.image.flywayImage }}
        env:
        - name: POSTGRES_JDBC
          value: {{ if .Values.use_external_postgres }}jdbc:postgresql://{{ .Values.rebom_postgres_host }}:5432/{{ .Values.rebom_postgres_database }}{{ else }}jdbc:postgresql://{{ .Release.Name }}-rebom-postgres:5432/postgres{{ end }}
        - name: POSTGRES_USER
          value: {{ .Values.rebom_postgres_username }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-rebom-pgpassword
              key: password
        command: ['/bin/sh', '-c', "/flyway/flyway -url=$POSTGRES_JDBC -user=$POSTGRES_USER -password=$POSTGRES_PASSWORD -defaultSchema=rebom -schemas=rebom migrate"]
        volumeMounts:
          - mountPath: "/flyway/sql"
            name: migrations-sql
      volumes:
        - name: migrations-sql
          emptyDir: {}