backendReplicaCount: 1
uiReplicaCount: 1
ociArtifactReplicaCount: 1
enableBetaTea: false

use_external_postgres: false
rearm_postgres_host: ""
rearm_postgres_database: "postgres"
rearm_postgres_username: "postgres"
rearm_postgres_port: "5432"

keycloak_postgres_host: ""
keycloak_postgres_username: "postgres"
keycloak_postgres_database: "postgres"
keycloak_postgres_port: "5432"

rebom_postgres_host: ""
rebom_postgres_database: "postgres"
rebom_postgres_username: "postgres"
rebom_postgres_ssl: "false"
rebom_postgres_port: "5432"

traefik_crd_api_version: traefik.containo.us/v1alpha1

image:
  backEndImage: registry.relizahub.com/library/rearm-backend:26.01.52@sha256:0a15758b639024df67b7514ebdb79a9a8bf63a6d5f0e1f2e4583f083c8d31e91
  uiImage: registry.relizahub.com/library/rearm-ui:26.01.50@sha256:9de8985868bca94ff146c9f62b4dc32a7660812afc2e18ce5de59a9c19085b71
  ociArtifactImage: registry.relizahub.com/library/rearm-oci-artifact-service:25.12.8@sha256:dc448534b052411f38c7c8f78bef713874e4fdc97867a60dc173f4feb3f36674
  keycloakImage: registry.relizahub.com/library/rearm-keycloak:25.03.16@sha256:4e059284faf13087488debf80b6b0e9f89d75b128fcb75b4f6d4b93f675b77ea
  postgresImage: registry.relizahub.com/library/rearm-postgres:0.1.2@sha256:1d2b05e8662eb69bea12a04e91520e7f364e1ee3696a8a9feb0251c14b0f5950
  rebomBackend: registry.relizahub.com/library/rebom-backend:0.14.10@sha256:9226173a849e789a98d526249eae3cc920559234b456a68820f09c59c4fa0223
  flywayImage: docker.io/redgate/flyway:11.14.0-alpine@sha256:19a1178e519f9c4448956bb7a7d7c52610e6c46503a5f752d13f04120092c45d
  pullPolicy: IfNotPresent

imagePullSecrets: [ {"name":"regcred"} ]
nameOverride: "rearm"
fullnameOverride: ""

projectProtocol: http
projectHost: rearm.localhost
useDefaultSecrets: true
max_upload_size_in_MB: 50
backend:
  logFormatType: "plain"
  enableDtrackCleanupScheduler: false

keycloak:
  enabled: true
  postgresStorage: 4G
  create_secret_in_chart: regular # regular, none, sealed; sealed supported by Reliza Hub
  sealed_secrets_scope: namespace-wide # namespace-wide, cluster-wide, strict
  strict_host: false
  issuer_uri: http://rearm.localhost
  set_uri: http://keycloak:9080
  secrets:
    pgpassword: VKKlL0ZxfCjPWElRMjFpHg # change for prod use
    adminpassword: admin # change for prod use

backendService:
  type: ClusterIP
  port: 8085
  resources:
    requests:
      memory: "300Mi"
      cpu: "10m"
    limits:
      memory: "4000Mi"
      cpu: "4000m"

uiService:
  type: ClusterIP
  port: 80
  targetPort: 80
  nodePort: 30001
  resources:
    requests:
      memory: "100Mi"
      cpu: "10m"
    limits:
      memory: "1000Mi"
      cpu: "1000m"

ociArtifactService:
  enabled: true
  registryHost: registry.relizahub.com/123-private # change
  registryUser: changeme # change
  registryToken: changeme # change
  create_secret_in_chart: true

useTraefikLe: true
traefikBehindLb: false
leHost: rearm.localhost

postgresql:
  image:
    registry: registry.relizahub.com
    repository: library/rearm-postgres
    tag: "0.1.0"
    digest: "sha256:b15503aa3dbd5c3c1c9519ba1f2ce5c1c0e322132fb6f666ecc5780157f123c3"
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## Example:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
    ## Set to true if you would like to see extra information on logs
    ##
    debug: false
  auth:
    enablePostgresUser: true
    postgresPassword: relizaPass # change for prod use
  persistence:
    size: 4Gi
  primary:
    resources:
      requests:
        memory: "300Mi"
        cpu: "10m"
      limits:
        memory: "4000Mi"
        cpu: "4000m"

rebom:
  postgresStorage: 5Gi
  backend:
    replicaCount: 1
    oci:
      enabled: "true"
      serviceHost: http://rearm-oci-artifact
      registryNamespace: 123-placeholder
    bearUri: ""
    bearApiKeySecretName: ""
    bearSkipPattern: ""