backendReplicaCount: 1
uiReplicaCount: 1
ociArtifactReplicaCount: 1
enableBetaTea: false

use_external_postgres: false
rearm_postgres_host: ""
rearm_postgres_database: "postgres"
rearm_postgres_username: "postgres"

keycloak_postgres_host: ""
keycloak_postgres_username: "postgres"

rebom_postgres_host: ""
rebom_postgres_database: "postgres"
rebom_postgres_username: "postgres"
rebom_postgres_ssl: "false"

traefik_crd_api_version: traefik.containo.us/v1alpha1

image:
  backEndImage: registry.relizahub.com/library/rearm-backend:26.01.6@sha256:48939b4a54c64e01ff8b5ae65c59ef1ced17c658fbde4075f258fa0621728e4c
  uiImage: registry.relizahub.com/library/rearm-ui:26.01.16@sha256:43e4143dbe5184ea00f5cfef55967224ea283d3a18f6d634251feef7409fdf04
  ociArtifactImage: registry.relizahub.com/library/rearm-oci-artifact-service:25.12.2@sha256:09953dfa591284b76c98ee659a38cbd4e154f147cdbd1187728e1041f1549156
  keycloakImage: registry.relizahub.com/library/rearm-keycloak:25.03.15@sha256:9f31fa258e6aff221792edc93aaed63b60be47450c359737a81c25c5a74f530f
  postgresImage: registry.relizahub.com/library/rearm-postgres:0.1.2@sha256:1d2b05e8662eb69bea12a04e91520e7f364e1ee3696a8a9feb0251c14b0f5950
  rebomBackend: registry.relizahub.com/library/rebom-backend:0.12.24@sha256:f5c3429716c4463784a2279fcd5738403ab2decc0319780e0fd9c2c2b667ad28
  flywayImage: docker.io/redgate/flyway:11.14.0-alpine@sha256:19a1178e519f9c4448956bb7a7d7c52610e6c46503a5f752d13f04120092c45d
  pullPolicy: IfNotPresent

imagePullSecrets: [ {"name":"regcred"} ]
nameOverride: "rearm"
fullnameOverride: ""

projectProtocol: http
projectHost: rearm.localhost
useDefaultSecrets: true
max_upload_size_in_MB: 50
backend:
  logFormatType: "plain"
  enableDtrackCleanupScheduler: false

keycloak:
  enabled: true
  postgresStorage: 4G
  create_secret_in_chart: regular # regular, none, sealed; sealed supported by Reliza Hub
  sealed_secrets_scope: namespace-wide # namespace-wide, cluster-wide, strict
  strict_host: false
  issuer_uri: http://rearm.localhost
  set_uri: http://keycloak:9080
  secrets:
    pgpassword: VKKlL0ZxfCjPWElRMjFpHg # change for prod use
    adminpassword: admin # change for prod use

backendService:
  type: ClusterIP
  port: 8085
  resources:
    requests:
      memory: "300Mi"
      cpu: "10m"
    limits:
      memory: "4000Mi"
      cpu: "4000m"

uiService:
  type: ClusterIP
  port: 80
  targetPort: 80
  nodePort: 30001
  resources:
    requests:
      memory: "100Mi"
      cpu: "10m"
    limits:
      memory: "1000Mi"
      cpu: "1000m"

ociArtifactService:
  enabled: true
  registryHost: registry.relizahub.com/123-private # change
  registryUser: changeme # change
  registryToken: changeme # change
  create_secret_in_chart: true

useTraefikLe: true
traefikBehindLb: false
leHost: rearm.localhost

postgresql:
  image:
    registry: registry.relizahub.com
    repository: library/rearm-postgres
    tag: "0.1.0"
    digest: "sha256:b15503aa3dbd5c3c1c9519ba1f2ce5c1c0e322132fb6f666ecc5780157f123c3"
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## Example:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
    ## Set to true if you would like to see extra information on logs
    ##
    debug: false
  auth:
    enablePostgresUser: true
    postgresPassword: relizaPass # change for prod use
  persistence:
    size: 4Gi
  primary:
    resources:
      requests:
        memory: "300Mi"
        cpu: "10m"
      limits:
        memory: "4000Mi"
        cpu: "4000m"

rebom:
  postgresStorage: 5Gi
  backend:
    replicaCount: 1
    oci:
      enabled: "true"
      serviceHost: http://rearm-oci-artifact
      registryHost: registry.relizahub.com
      registryNamespace: 123-placeholder