.appCard {
  border-radius: 20px;
  background-color: var(--integration-appCard-backgroundColor) !important;
  transition: all ease-in-out 300ms;
  padding: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.appCard:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #20184e;
  text-align: center;
  margin-bottom: 7px;
}

.type {
  color: var(--integration-appCard-type_Color);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 12px;
}

.text {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #adabb7;
}
