.feedbackCard {
  border-radius: 20px;
  background-color: var(--integration-appCard-backgroundColor) !important;
  transition: all ease-in-out 300ms;
  padding: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.feedbackCard:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feedbackCard_userProfile {
  background-color: #fafafa;
  /* background-color: rgba(0, 0, 0, 0.05); */
  border-radius: 20px;
  padding: 10px 12px;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #5c6077;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #18214d;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
}
