.titleBox {
  flex-wrap: nowrap;
  padding: 24px 30px 24px 40px;
}
.body {
  padding: 0px 30px 24px 40px;
  background-color: var(--accordion-active-backbroundColor);
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--btn_getStarted-color);
  max-width: 450px;
  margin: 0;
  padding-right: 10px;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #64626a;
  text-align: justify;
  width: 90%;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 15px;
    line-height: 23px;
  }
  .text {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }
}
