services:
  rearm-core:
    image: registry.relizahub.com/library/rearm-backend:26.02.23@sha256:9364debeee13495142a94c5cd22476a3d1d2d37602098205fc0f8c8e4ccae497
    env_file:
     - path: ./core.env
       required: false
    environment:
     - PG_HOST=rearm-postgresql
     - PG_PORT=5432
     - PROJECT_PROTOCOL=http
     - PROJECT_HOST=localhost:8092
     - KEYCLOAK_ISSUER_URI=http://localhost:8092
     - KEYCLOAK_SET_URI=http://keycloak:9080
     - RELIZAPROP_REBOM_URI=http://rebom-backend:4000/
     - RELIZAPROP_OCIARTIFACTS_SERVICE_HOST=oci-artifact-service
     - MAX_UPLOAD_SIZE=50MB
    depends_on:
     - rearm-postgresql
     - keycloak
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
  rearm-ui:
    image: registry.relizahub.com/library/rearm-ui:26.02.27@sha256:81553b9ac74b9e149fc945c7f4987b58fd17d5c2aa21a13cf8fff6d21e5fad64
    ports:
     - "8092:80"
    environment:
     - MAX_BODY_SIZE=50M
     - HUB_HOST=rearm-core
     - HUB_PORT=8086
     - PROJECT_ORIGIN=http://localhost:8092
     - KEYCLOAK_HOST=keycloak
     - KEYCLOAK_PORT=9080
     - KEYCLOAK_ADMIN_ACCESS=
     - KEYCLOAK_RELIZA_ADMIN_ACCESS=
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
    depends_on:
     - rearm-core
  rearm-postgresql:
    image: registry.relizahub.com/library/rearm-postgres:0.1.2@sha256:1d2b05e8662eb69bea12a04e91520e7f364e1ee3696a8a9feb0251c14b0f5950
    ports:
     - "5440:5432"
    environment:
     - POSTGRES_PASSWORD=relizaPass
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - "rearm-postgres-data:/relizaio/postgresql"
  keycloak:
    image: registry.relizahub.com/library/rearm-keycloak:25.03.17@sha256:e34162d50481e093d9a900073971364bbdd9f091c563376d588d1e40f15fca57
    # build: ../../keycloak
    ports:
     - "9080:9080"
    environment:
     - KC_DB=postgres
     - KC_DB_SCHEMA=reliza_keycloak
     - KC_DB_USERNAME=postgres
     - KC_DB_PASSWORD=relizaPass
     - KC_DB_URL=jdbc:postgresql://keycloak-postgres:5432/postgres
     - KEYCLOAK_ADMIN=admin
     - KEYCLOAK_ADMIN_PASSWORD=admin
     - KC_HTTP_RELATIVE_PATH=kauth
     - KC_HEALTH_ENABLED=true
    entrypoint:
     - /bin/sh
     - -c
     - /opt/keycloak/bin/kc.sh start --import-realm --http-enabled true --hostname-strict false --http-host 0.0.0.0 --http-port 9080 --hostname http://localhost:8092/kauth
    depends_on:
     - keycloak-postgres
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
  keycloak-postgres:
    image: registry.relizahub.com/library/rearm-postgres:0.1.2@sha256:1d2b05e8662eb69bea12a04e91520e7f364e1ee3696a8a9feb0251c14b0f5950
    environment:
     - POSTGRES_PASSWORD=relizaPass
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - ./postgres-keycloak-init.sql:/docker-entrypoint-initdb.d/init.sql
      - "rearm-keycloak-compose-postgres-data:/relizaio/postgresql"
  oci-artifact-service:
    image: registry.relizahub.com/library/rearm-oci-artifact-service:25.12.8@sha256:dc448534b052411f38c7c8f78bef713874e4fdc97867a60dc173f4feb3f36674
    env_file:
     - path: ./oci.env
       required: false
    # environment:
    # - REGISTRY_HOST=registry.relizahub.com
    # - REGISTRY_USERNAME=rh_430fcdde-d7bc-4542-ad5b-4f534f4942f0
    # - REGISTRY_TOKEN=changeme
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
  rebom-backend:
    image: registry.relizahub.com/library/rebom-backend:0.14.21@sha256:b731207b208f27fb4b30d553165e55bf09072cede7d54cfe17af97b310d9b68c
    env_file:
     - path: ./rebom.env
       required: false
    environment:
     - POSTGRES_HOST=rebom-postgresql
     - POSTGRES_PORT=5432
     - POSTGRES_PASSWORD=relizaPass
     - OCI_STORAGE_ENABLED=true
     - OCI_ARTIFACT_SERVICE_HOST=http://oci-artifact-service:8083
    depends_on:
     - rebom-postgresql
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
  rebom-postgresql:
    image: registry.relizahub.com/library/rearm-postgres:0.1.2@sha256:1d2b05e8662eb69bea12a04e91520e7f364e1ee3696a8a9feb0251c14b0f5950
    environment:
     - POSTGRES_PASSWORD=relizaPass
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - "rebom-postgres-data:/relizaio/postgresql"
  rebom-postgres-init:
    image: docker.io/redgate/flyway:11.14.0-alpine@sha256:19a1178e519f9c4448956bb7a7d7c52610e6c46503a5f752d13f04120092c45d
    restart: on-failure
    depends_on:
      - rebom-postgresql
    command:
      [
        '-url=jdbc:postgresql://rebom-postgresql:5432/postgres',
        '-user=postgres',
        '-password=relizaPass',
        '-defaultSchema=rebom',
        '-schemas=rebom',
        'migrate'
      ]
    volumes:
      - ./rebom-migrations:/flyway/sql
volumes:
  rearm-keycloak-compose-postgres-data:
    driver: local
  rearm-postgres-data:
    driver: local
  rebom-postgres-data:
    driver: local    
