on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

name: Build Component Container Images And Submit Metadata To Reliza Hub

jobs:
  build-docs:
    name: Build And Push Documentation Site
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Documentation Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-documentation
          reliza_api_id: ${{ secrets.RELIZA_REARM_DOCS_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_DOCS_API_KEY }}
          path: documentation_site
          enable_sbom: 'false'
  build-docs-helm:
    permissions:
      contents: write
    name: Build And Push Documentation Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Documentation Helm metadata action
        uses: relizaio/reliza-helm-action@c63d479f4fd1fce07a5b13a928afb1a196bb83a1 # v3.8
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: rearm-documentation-helm
          reliza_api_id: ${{ secrets.RELIZA_REARM_DOCS_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_DOCS_HELM_API_KEY }}
          path: deploy/helm
  build-landing-helm:
    permissions:
      contents: write
    name: Build And Push ReARM Landing Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM Landing Helm metadata action
        uses: relizaio/reliza-helm-action@c63d479f4fd1fce07a5b13a928afb1a196bb83a1 # v3.8
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: rearm-landing-helm
          reliza_api_id: ${{ secrets.RELIZA_REARM_LANDING_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_LANDING_HELM_API_KEY }}
          path: deploy/helm
  build-rearm-helm:
    permissions:
      contents: write
      id-token: write
    name: Build And Push Rearm Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Documentation Helm metadata action
        uses: relizaio/reliza-helm-action@c63d479f4fd1fce07a5b13a928afb1a196bb83a1 # v3.8
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com/library
          helm_chart_name: rearm-helm
          reliza_api_id: ${{ secrets.RELIZA_REARM_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_HELM_API_KEY }}
          path: deploy/helm
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_HELM_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_HELM_API_KEY }}
          rearm_enable_public_cosign_sigstore: 'true'
  build-ui:
    permissions:
      id-token: write
    name: Build And Push ReARM UI
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit UI Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-ui
          reliza_api_id: ${{ secrets.RELIZA_REARM_UI_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_UI_API_KEY }}
          path: ui
          enable_sbom: 'false'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_UI_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_UI_API_KEY }}
          source_code_sbom_type: 'npm'
          rearm_enable_public_cosign_sigstore: 'true'
          rearm_enable_codeql: 'true'
          rearm_codeql_language: 'javascript'
  build-backend:
    permissions:
      id-token: write
    name: Build And Push ReARM Backend
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Backend Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-backend
          reliza_api_id: ${{ secrets.RELIZA_REARM_BACKEND_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_BACKEND_API_KEY }}
          path: backend
          enable_sbom: 'false'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_BACKEND_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_BACKEND_API_KEY }}
          source_code_sbom_type: 'custom'
          rearm_enable_public_cosign_sigstore: 'true'
          rearm_enable_codeql: 'true'
          rearm_codeql_language: 'custom'
  build-oci-service:
    permissions:
      id-token: write
    name: Build And Push ReARM OCI Service
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM OCI Service Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-oci-artifact-service
          reliza_api_id: ${{ secrets.RELIZA_REARM_OCI_ARTIFACT_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_OCI_ARTIFACT_API_KEY }}
          path: oci-artifact-service
          enable_sbom: 'false'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_OCI_ARTIFACT_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_OCI_ARTIFACT_API_KEY }}
          source_code_sbom_type: 'other'
          rearm_enable_public_cosign_sigstore: 'true'
          rearm_enable_codeql: 'true'
          rearm_codeql_language: 'custom'
  build-keycloak:
    permissions:
      id-token: write
    name: Build And Push ReARM Keycloak
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM Keycloak Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-keycloak
          reliza_api_id: ${{ secrets.RELIZA_REARM_KEYCLOAK_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_KEYCLOAK_API_KEY }}
          path: keycloak
          enable_sbom: 'false'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_KEYCLOAK_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_KEYCLOAK_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-rearm-landing:
    name: Build And Push ReARM Landing Website rearmhq.com
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM Landing Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-landing
          reliza_api_id: ${{ secrets.RELIZA_REARM_LANDING_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_LANDING_API_KEY }}
          path: landing_site
          enable_sbom: 'false'
  build-rebom-frontend:
    name: Build And Push Rebom UI
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit UI Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rebom-frontend
          reliza_api_id: ${{ secrets.RELIZA_REBOM_FRONTEND_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REBOM_FRONTEND_API_KEY }}
          path: rebom-frontend
          enable_sbom: 'false'
  build-rebom-backend:
    permissions:
      id-token: write
    name: Build And Push Rebom Backend
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Backend Release
        uses: relizaio/reliza-docker-action@6224765906671230ebf7fe8151af8980d305efea # v3.9
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rebom-backend
          reliza_api_id: ${{ secrets.RELIZA_REBOM_BACKEND_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REBOM_BACKEND_API_KEY }}
          path: rebom-backend
          enable_sbom: 'false'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REBOM_BACKEND_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REBOM_BACKEND_API_KEY }}
          source_code_sbom_type: 'npm'
          rearm_enable_public_cosign_sigstore: 'true'
          rearm_enable_codeql: 'true'
          rearm_codeql_language: 'javascript'
